@use "../../styles/typography.scss" as *;
@use "../../styles/variables" as *;


.destinations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}