@use "../../styles/typography.scss" as *;
@use "../../styles/variables" as *;


.destinations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

@media screen and (min-width: 380px) and (max-width: 1000px) {

    .destinations {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;
        width: 100vw;
    }

}