@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;400;700&family=Allison&family=Bebas+Neue&family=Euphoria+Script&family=Gruppo&family=Manrope:wght@200;400;600&family=Mrs+Saint+Delafield&family=Poiret+One&family=Ubuntu+Condensed&display=swap');

$font-alexandria: 'Alexandria', sans-serif;
$font-allison: 'Allison', 'cursive';
$font-bebas: 'Bebas Neue', 'cursive';
$font-euphoria: 'Euphoria Script', 'cursive';
$font-gruppo: 'Gruppo', 'cursive';
$font-manrope: 'Manrope', sans-serif;
$font-delafiel: 'Mrs Saint Delafield', 'cursive';
$font-poiret: 'Poiret One', 'cursive';
$font-ubuntu: 'Ubuntu Condensed', sans-serif;
