@use "../../styles/typography.scss" as *;
@use "../../styles/variables" as *;

.cardList {
    margin: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}