@use "../../styles/typography.scss" as *;
@use "../../styles/variables" as *;

.cardList {
    margin: 2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &__card {
        text-decoration: none;
    }
}