@use "../../styles/typography.scss" as *;
@use "../../styles/variables" as *;

.card-small {
    border: 2px solid white;
    box-shadow: 2px 2px 10px 2px rgba(168, 168, 168, 0.654);
    border-radius: 5px;
    padding: 0.5rem;
    width: 27rem;
    height: 22.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    &__image {
        border: 1px solid rgb(160, 160, 160);
        width: 26rem;
        height: 14rem;
    }

    &__info {
        margin-top: 0.5rem;
        width: 26rem;
        height: 3rem;
        &--location {
            text-align: left;
            font-family: $font-allison;
            color: $color-dark-beige;
            font-size: 2rem;
            font-weight: 400;
            text-decoration: underline;
            text-decoration-thickness: 1px;
        }
        &--text {
            text-align: left;
            font-size: 0.9rem;
            font-family: $font-ubuntu;
            color: $color-dark-beige;
        }
    }
    &__title {
        color: $color-dark-grey;
    }
}


.card-big {
    border: 2px solid white;
    box-shadow: 2px 2px 10px 2px rgba(168, 168, 168, 0.654);
    border-radius: 10px;
    padding: 1rem;
    width: 45rem;
    height: 36rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__image {
        border: 1px solid rgb(160, 160, 160);
        width: 43rem;
        height: 23rem;
    }
    
    &__info {
        margin-top: 0.5rem;
        width: 43rem;
        &--location {
            text-align: left;
            font-family: $font-allison;
            color: $color-dark-beige;
            font-size: 3.5rem;
            font-weight: 500;
            text-decoration: underline;
            text-decoration-thickness: 2px;
        }
        &--text {
            text-align: left;
            font-size: 1.2rem;
            font-family: $font-ubuntu;
            color: $color-dark-beige;
        }
    }
    &__title {
        color: $color-dark-grey;
    }
}

@media screen and (min-width: 380px) and (max-width: 1000px) {
    .card-small {
        border: 2px solid white;
        box-shadow: 2px 2px 10px 2px rgba(168, 168, 168, 0.654);
        border-radius: 5px;
        padding: 0.5rem;
        width: 22.5rem;
        height: 22.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        &__image {
            border: 1px solid rgb(160, 160, 160);
            width: 22rem;
            height: 14rem;
        }
    
        &__info {
            margin-top: 0.5rem;
            width: 22rem;
            height: 3rem;
            &--location {
                text-align: left;
                font-family: $font-allison;
                color: $color-dark-beige;
                font-size: 2rem;
                font-weight: 400;
                text-decoration: underline;
                text-decoration-thickness: 1px;
            }
            &--text {
                text-align: left;
                font-size: 0.9rem;
                font-family: $font-ubuntu;
                color: $color-dark-beige;
            }
        }
        &__title {
            color: $color-dark-grey;
        }
    }
    
    
    .card-big {
        border: 2px solid white;
        box-shadow: 2px 2px 10px 2px rgba(168, 168, 168, 0.654);
        border-radius: 10px;
        padding: 1rem;
        width: 23rem;
        height: 21rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__image {
            border: 1px solid rgb(160, 160, 160);
            width: 22rem;
        }
        &__info {
            margin-top: 0.1rem;
            width: 22rem;
            &--location {
                text-align: left;
                font-family: $font-allison;
                color: $color-dark-beige;
                font-size: 1.5rem;
                font-weight: 500;
                text-decoration: underline;
                text-decoration-thickness: 1px;
            }
            &--text {
                text-align: left;
                font-size: 0.8rem;
                font-family: $font-ubuntu;
                color: $color-dark-beige;
            }
        }
        &__title {
            color: $color-dark-grey;
        }
    }
}