@use "../../styles/typography.scss" as *;
@use "../../styles/variables" as *;

.card {
    border: 2px solid white;
    box-shadow: 2px 2px 10px 2px rgba(168, 168, 168, 0.654);
    border-radius: 5px;
    padding: 0.5rem;
    width: 27rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0;
    &__image {
        border: 1px solid rgb(160, 160, 160);
        width: 26rem;
        height: 14rem;
    }
    &__info {
        margin-top: 0.5rem;
        width: 26rem;
        height: 3rem;
        &--location {
            text-align: left;
            font-family: $font-bebas;
            color: $color-taupe;
            font-size: 1rem;
            font-weight: 400;
        }
        &--text {
            text-align: left;
            font-size: 0.9rem;
            font-family: $font-bebas;
            color: $color-dark-grey;
        }
    }
}